body{
  margin: 0 auto;
  max-width: 1200px; 
}
.bar {
  margin: 30px auto;
  width: 60%;
  background-color: lightgrey;
  border-radius: 0 15px 15px 0;
}
.bar--completed {
  border-radius: 0 15px 15px 0;
  height: 20px;
  padding: 5px 0;
  background-color: lightgreen;
  color: black;
  text-align: center;
  
}
.form {
  margin: 10px auto;
  width: 60%;
}
input {
  margin:10px 0;
  border: 1px solid #aaa;
  width: 95%;
  padding: 10px;
  font-size: 16px;
}
select{
  margin: 10px 0;
}
input::placeholder{
  text-align: end;
  font-style: italic;
  font-weight: 200;
  font-size: 12px;
}
input::-webkit-input-placeholder{
  text-align: end;
  font-style: italic;
  font-weight: 200;
  font-size: 12px;
}
.form,.result {
  display: none;
}
.btn-wrapper{
  text-align: center;
}
.btn-wrapper button {
  margin: 8px;
  width: 20%;
  min-width: 75px;
  padding: 5px 0;
  background:  lightgreen;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
.result {
  margin: auto;
  width: 40%;
}
.result ul {
  margin: 0;
  padding:0;
  list-style-type: none;
}
.result ul li {
  border-bottom: dotted 1px lightgrey;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.notice,.notice--select{
  display: none;
  margin: 0 0 14px;
  font-style: italic;
  font-weight: 200;
  font-size: 12px;
  color: red;
}
h1{
  text-align: center;
  font-size: 26px;
}